<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cul.culsite.dao.expand.ComplicateSqlMapper" >
<resultMap id="CardNoAllInfoBean" type="com.cul.culsite.model.CardNoAllInfoBean"  >
    <result column="no" property="cardNo" jdbcType="VARCHAR" />
    <result column="type" property="custPurseType" jdbcType="VARCHAR" />
    <result column="purse_id" property="custPurseId" jdbcType="VARCHAR" />
    <result column="uname" property="mobile" jdbcType="VARCHAR" />
    <result column="ms_issuer_id" property="issuerId" jdbcType="VARCHAR" />
    <result column="contract_no" property="contractNo" jdbcType="VARCHAR" />
    
  </resultMap>
  <select id="selectCardNoAllInfoByNo" resultMap="CardNoAllInfoBean" parameterType="java.lang.String" >
    SELECT t1.no,
           t1.type,
           t1.purse_id,
           t3.uname,
           t3.ms_issuer_id,
           t1.contract_no
      FROM (select t1.no,
                   t1.type,
                   t1.purse_id,
                   t1.cust_seq,
                   t2.contract_no
              from m_cust_purse t1
              left join m_cust_purse_ext t2 on t1.purse_id = t2.purse_id
             where t1.no = #{no,jdbcType=VARCHAR}
               and t1.status = 'Y') T1,
           M_MEMBER T3
     WHERE T1.CUST_SEQ = T3.CUST_SEQ
  </select>
  
  <resultMap id="OrderTxnResultMap" type="com.cul.culsite.dto.MOrderTxnDTO" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    <id column="MOT_TXN_ID" property="motTxnId" jdbcType="VARCHAR" />
    <result column="MOT_ORDER_ID" property="motOrderId" jdbcType="VARCHAR" />
    <result column="MOT_MER_ID" property="motMerId" jdbcType="VARCHAR" />
    <result column="MOT_TOTAL_AMOUNT" property="motTotalAmount" jdbcType="DECIMAL" />
    <result column="MOT_TRAN_DATE" property="motTranDate" jdbcType="VARCHAR" />
    <result column="MOT_TRAN_TIME" property="motTranTime" jdbcType="VARCHAR" />
    <result column="MOT_POSTING_TIME" property="motPostingTime" jdbcType="VARCHAR" />
    <result column="MOT_BUYER_MOBILE" property="motBuyerMobile" jdbcType="VARCHAR" />
    <result column="MOT_ORDER_TYPE" property="motOrderType" jdbcType="VARCHAR" />
    <result column="MOT_STATUS" property="motStatus" jdbcType="CHAR" />
    <result column="MOT_TYPE" property="motType" jdbcType="CHAR" />
    <result column="MOT_CHANNEL" property="motChannel" jdbcType="VARCHAR" />
    <result column="MOT_TRANID" property="motTranid" jdbcType="VARCHAR" />
    <result column="MOT_ISSUER_ID" property="motIssuerId" jdbcType="VARCHAR" />
    <result column="MOT_ORDER_NUM" property="motOrderNum" jdbcType="DECIMAL" />
    <result column="MOT_IS_PART_CONSUME" property="motIsPartConsume" jdbcType="CHAR" />
    <result column="CREATE_USER" property="createUser" jdbcType="VARCHAR" />
    <result column="CREATE_TIMESTAMP" property="createTimestamp" jdbcType="TIMESTAMP" />
    <result column="UPDATE_USER" property="updateUser" jdbcType="VARCHAR" />
    <result column="UPDATE_TIMESTAMP" property="updateTimestamp" jdbcType="TIMESTAMP" />
    <result column="MOT_NEED_PICK_NOTICE" property="motNeedPickNotice" jdbcType="CHAR" />
    <result column="MOT_TRAN_PIC_URL" property="motTranPicUrl" jdbcType="VARCHAR" />
    <result column="MOT_TOTAL_PAY_AMOUNT" property="motTotalPayAmount" jdbcType="DECIMAL" />
    <result column="MOT_PROMOTION_TYPE" property="motPromotionType" jdbcType="VARCHAR" />
    <result column="MOT_PAY_CHANNEL" property="motPayChannel" jdbcType="VARCHAR" />
    <result column="MOT_PAY_BILL_NO" property="motPayBillNo" jdbcType="VARCHAR" />
    <result column="MOT_PAY_STATUS" property="motPayStatus" jdbcType="VARCHAR" />
    <result column="MOT_TERMNO" property="motTermno" jdbcType="VARCHAR" />
    <result column="MOT_TRANSMSN_DT_TM" property="motTransmsnDtTm" jdbcType="VARCHAR" />
    <result column="MOT_SYS_TRA_NO" property="motSysTraNo" jdbcType="VARCHAR" />
    <result column="MOT_SOURCE_ID" property="motSourceId" jdbcType="VARCHAR" />
    <result column="MOT_RRN" property="motRrn" jdbcType="VARCHAR" />
    <result column="MOT_TRANSMSN_DT" property="motTransmsnDt" jdbcType="VARCHAR" />
    <result column="MOT_TRANSMSN_TM" property="motTransmsnTm" jdbcType="VARCHAR" />
    <result column="MTH_EXTERNAL_TXNID" property="mthExternalTxnid" jdbcType="VARCHAR" />
    <result column="MTH_EXTERNAL_TXNID_OWNER" property="mthExternalTxnidOwner" jdbcType="VARCHAR" />
    <result column="MOT_CUST_SEQ" property="motCustSeq" jdbcType="VARCHAR" />
    <result column="MOT_CASHIER_INFORMATION" property="motCashierInformation" jdbcType="VARCHAR" />
    <result column="MOT_LOYALTY_CLUB" property="motLoyaltyClub" jdbcType="VARCHAR" />
    <result column="MOT_DISCOUNT_AMOUNT" property="motDiscountAmount" jdbcType="DECIMAL" />
    <result column="MOT_SERVICE_ID" property="motServiceId" jdbcType="VARCHAR" />
    <result column="MOT_SOURCE" property="motSource" jdbcType="VARCHAR" />
  </resultMap> 
  <sql id="OrderTxnResultMap_Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    MOT_TXN_ID, MOT_ORDER_ID, MOT_MER_ID, MOT_TOTAL_AMOUNT, MOT_TRAN_DATE, MOT_TRAN_TIME, 
    MOT_POSTING_TIME, MOT_BUYER_MOBILE, MOT_ORDER_TYPE, MOT_STATUS, MOT_TYPE, MOT_CHANNEL, 
    MOT_TRANID, MOT_ISSUER_ID, MOT_ORDER_NUM, MOT_IS_PART_CONSUME, CREATE_USER, CREATE_TIMESTAMP, 
    UPDATE_USER, UPDATE_TIMESTAMP, MOT_NEED_PICK_NOTICE, MOT_TRAN_PIC_URL, MOT_TOTAL_PAY_AMOUNT, 
    MOT_PROMOTION_TYPE, MOT_PAY_CHANNEL, MOT_PAY_BILL_NO, MOT_PAY_STATUS, MOT_TERMNO, 
    MOT_TRANSMSN_DT_TM, MOT_SYS_TRA_NO, MOT_SOURCE_ID, MOT_RRN, MOT_TRANSMSN_DT, MOT_TRANSMSN_TM, 
    MTH_EXTERNAL_TXNID, MTH_EXTERNAL_TXNID_OWNER, MOT_CUST_SEQ, MOT_CASHIER_INFORMATION, 
    MOT_LOYALTY_CLUB, MOT_DISCOUNT_AMOUNT, MOT_SERVICE_ID, MOT_SOURCE
  </sql>
    <select id="selectOrderTxn" resultMap="OrderTxnResultMap" parameterType="java.util.Map" >
      select 
      <include refid="OrderTxnResultMap_Base_Column_List" />
          from m_order_txn t
          join m_order_txn_detail d on t.mot_txn_id = d.motd_txn_id
                                   and (d.motd_amount is not null and
                                       d.motd_amount > 0)
                                   and d.motd_card_no = #{cardNo,jdbcType=VARCHAR}
                                   and d.motd_lms_txn_id = #{thirdTxnId,jdbcType=VARCHAR}
         where t.mot_order_type = 'IDAD'
           and t.mot_status = 'Y'
  </select>
  
   <select id="selectOrderTxnByCardNo" resultMap="OrderTxnResultMap">
        select
        <include refid="OrderTxnResultMap_Base_Column_List" />
            from m_order_txn t
            join m_order_txn_detail d on t.mot_txn_id = d.motd_txn_id
                                   and (d.motd_amount is not null and
                                       d.motd_amount > 0)
                                   and d.motd_card_no = #{cardNo,jdbcType=VARCHAR}
                                   and d.motd_lms_txn_id is not null 
         where t.mot_order_type = 'IDAD'
           and t.mot_status = 'Y'
  </select>
  
  <select id="selectMOrderTxnByCardNo" resultMap="OrderTxnResultMap">
        select
        <include refid="OrderTxnResultMap_Base_Column_List" />
        from m_order_txn t
        join m_order_txn_detail d
        on t.mot_txn_id = d.motd_txn_id
        and d.motd_card_no = #{cardNo,jdbcType=VARCHAR}
        and (d.motd_amount is not null and d.motd_amount > 0)
        and d.motd_lms_txn_id is not null
        where t.mot_order_type = 'ISLV'
        and t.mot_status = 'Y'
        and t.mot_promotion_type = 'AA'
    </select>
    
    <!--查询用户-->
    <parameterMap id="userBean" type="com.cul.culsite.model.uid.UserBean">
        <parameter property="loginId" javaType="java.lang.String" />
        <parameter property="loginIdType" javaType="java.lang.String" />
        <parameter property="issuerId" javaType="java.lang.String" />
        <parameter property="channel" javaType="java.lang.String" />
        <parameter property="thirdPartyType" javaType="java.lang.String" />
    </parameterMap>
    <resultMap id="userDTO" type="com.cul.culsite.dto.MUserDTO">
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="issuer_id" property="issuerId" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectUser" resultMap="userDTO" parameterMap="userBean">
    select unique u.user_id, u.issuer_id, u.mobile, u.email, u.user_name
      from m_third_party_user t
     inner join m_user u
        on t.user_id = u.user_id
       and t.third_party_id = #{loginId,jdbcType=VARCHAR}
       and t.third_party_type = #{thirdPartyType,jdbcType=VARCHAR}
       and u.issuer_id = #{issuerId,jdbcType=VARCHAR}
    </select>

	<select id="findIslvOrderIdByCardNo" parameterType="java.lang.String" resultType="java.lang.String">
		select a.mot_order_id
		from m_order_txn a, m_order_txn_detail b
		where a.mot_txn_id = b.motd_txn_id
		and b.motd_card_no = #{cardNo, jdbcType = VARCHAR}
		and a.mot_order_type = 'ISLV'
		and a.mot_status= 'Y'
	</select>

</mapper>