<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cul.culsite.dao.expand.MCategoryVoucherDTOExpandMapper">
	
	

	<resultMap id="categoryCouponInfoResult"
		type="com.cul.culsite.model.singlecoupon.CategoryCouponInfo">
		<result column="VOUCHER_NO" property="couponNo" jdbcType="VARCHAR" />
		<result column="category_name" property="couponName" jdbcType="VARCHAR" />
		<result column="ISSUER_ID" property="issuerId" jdbcType="VARCHAR" />
		<result column="category_no" property="categoryNo" jdbcType="VARCHAR" />
		<result column="id" property="categoryId" jdbcType="VARCHAR" />
		<result column="status" property="couponStatus" jdbcType="VARCHAR" />
		<result column="valid_start" property="validStar" jdbcType="VARCHAR" />
		<result column="valid_end" property="validEnd" jdbcType="VARCHAR" />
		<result column="amount" property="couponBalance" jdbcType="VARCHAR" />
		<result column="amount_use_times" property="couponCount"
			jdbcType="VARCHAR" />
		<result column="category_clz" property="couponCategoryClz"
			jdbcType="VARCHAR" />
		<result column="face_value" property="couponFaceValue"
			jdbcType="VARCHAR" />
		<result column="default_use_count" property="couponDefaultUseCount"
			jdbcType="VARCHAR" />
		<result column="category_type" property="categoryType"
			jdbcType="VARCHAR" />
		<result column="category_is_realname" property="categoryIsRealName"
			jdbcType="VARCHAR" />
		<result column="category_publish" property="categoryPublish"
			jdbcType="VARCHAR" />
		<result column="category_use_channel" property="categoryUseChannel"
			jdbcType="VARCHAR" />
		<result column="sell_price" property="couponSellPrice"
			jdbcType="VARCHAR" />
		<result column="order_amount_limit" property="orderAmountLimit"
			jdbcType="VARCHAR" />
		<result column="order_rate" property="orderCountLimit"
			jdbcType="VARCHAR" />
		<result column="using_multiple_coupons" property="usingMultipleCoupon"
			jdbcType="VARCHAR" />
		<result column="coupons_rate" property="couponDefaultRate"
			jdbcType="VARCHAR" />
		<result column="full_use" property="fullUse" jdbcType="VARCHAR" />
		<result column="mulit_use" property="multiUse" jdbcType="VARCHAR" />
	</resultMap>

	<select id="selectCategoryVoucherList" resultMap="com.cul.culsite.dao.MCategoryVoucherDTOMapper.BaseResultMap"
		parameterType="map">
		select t3.*
		from m_cust_purse t5, m_category_voucher t3
		where t5.no = t3.voucher_no
		and t5.cust_seq =
		#{custSeq,jdbcType=VARCHAR}
		and t5.status = 'Y'
		and t5.type = 'EVOUCHER'
		and t5.card_lever = 'S'
		AND t3.issuser_id =
		#{issuerId,jdbcType=VARCHAR}
		and t3.status = 'A'
		AND T3.VALID_START
		&lt;= #{today,jdbcType=VARCHAR}
		AND T3.VALID_END &gt;=
		#{today,jdbcType=VARCHAR}

	</select>
	<select id="selectCategoryConponInfo" resultMap="categoryCouponInfoResult"
		parameterType="com.cul.culsite.model.singlecoupon.CategoryCouponRequest">
		select
		t.voucher_no,
		t1.category_name,
		t.issuer_id,
		t1.category_no,
		t.status,
		t.valid_start,
		t.valid_end,
		t.amount,
		t.amount_use_times,
		t1.id,
		t1.category_clz,
		t1.face_value,
		t1.default_use_count,
		t1.category_type,
		t1.category_is_realname,
		t1.category_publish,
		t1.category_use_channel,
		t2.sell_price,
		t2.order_amount_limit,
		t2.order_rate,
		t2.using_multiple_coupons,
		t2.coupons_rate,
		t2.full_use,
		t2.mulit_use
		from m_category_voucher t, m_card_category t1, m_card_category_ext t2
		where t.voucher_category = t1.category_no
		and t1.category_no =
		t2.category_no
		and t.status='A'
		and t.valid_start &lt;=
		#{today,jdbcType=VARCHAR}
		and t.valid_end &gt;=
		#{today,jdbcType=VARCHAR}
		and t.issuer_id =
		#{issuerId,jdbcType=VARCHAR}
		<if test="orderAmount != null">
			and t2.order_amount_limit &lt;=
			#{orderAmount,jdbcType=DECIMAL}
		</if>
		<if test="categoryClz != null">
			and t1.category_clz in
			<foreach collection="categoryClz" index="index" item="categorytype"
				open="(" separator="," close=")">
				#{categorytype}
			</foreach>
		</if>
		and t.voucher_no in
		<foreach collection="couponNoList" index="index" item="couponNo"
			open="(" separator="," close=")">
			#{couponNo}
		</foreach>
	</select>
	<select id="selectByConponNo" resultMap="com.cul.culsite.dao.MCategoryVoucherDTOMapper.BaseResultMap"
		parameterType="java.lang.String">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
		select
		<include refid="com.cul.culsite.dao.MCategoryVoucherDTOMapper.Base_Column_List" />
		from M_CATEGORY_VOUCHER
		where voucher_no =
		#{voucherNo,jdbcType=VARCHAR} for update

	</select>

	<select id="selectCategoryInfoByCategoryNo" resultMap="categoryCouponInfoResult"
		parameterType="com.cul.culsite.model.singlecoupon.CategoryCouponRequest">
		select
		t1.category_name,
		t1.id,
		t1.category_no,
		t1.category_clz,
		t1.face_value,
		t1.default_use_count,
		t1.category_type,
		t1.category_is_realname,
		t1.category_publish,
		t1.category_use_channel,
		t2.sell_price,
		t2.order_amount_limit,
		t2.order_rate,
		t2.using_multiple_coupons,
		t2.coupons_rate,
		t2.full_use,
		t2.mulit_use
		from m_card_category t1, m_card_category_ext t2
		where t1.category_no =
		t2.category_no
		and t1.issuer_id = #{issuerId,jdbcType=VARCHAR}
		<if test="categoryNoList != null">
			and t1.category_no in
			<foreach collection="categoryNoList" index="index" item="categoryNo"
				open="(" separator="," close=")">
				#{categoryNo}
			</foreach>
		</if>

	</select>
</mapper>