<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cul.culsite.dao.expand.MMerGroupRelDTOExpandMapper">
	<resultMap id="CategoryCouponMerRule"
		type="com.cul.culsite.model.singlecoupon.CategoryCouponMerRuleInfo">
		<result column="MER_GROUP_ID" property="merGroupId" jdbcType="VARCHAR" />
		<result column="MER_ID" property="merId" jdbcType="VARCHAR" />
		<result column="category_id" property="couponCategoryId"
			jdbcType="VARCHAR" />
	</resultMap>
	<select id="selectCategoryMerRule" resultMap="CategoryCouponMerRule"
		parameterType="com.cul.culsite.model.singlecoupon.CategoryCouponMerRuleRequest">
		select t.category_id,
		t.mer_group,
		t.mer_id
		from m_category_mer_right t
		left join m_mer_group_rel t1 on t.id = t1.mer_right_id
		where (t.mer_id
		= #{merId,jdbcType=VARCHAR} or t1.mer_id =
		#{merId,jdbcType=VARCHAR} or
		t.is_all_applicable = 'Y')
		and t.status = 'Y'
		and t.is_idad = 1
		and
		t.issuer_id = #{issuerId,jdbcType=VARCHAR}
		and t.category_id in
		<foreach collection="couponCategoryIdList" index="index"
			item="couponCategoryId" open="(" separator="," close=")">
			#{couponCategoryId}
		</foreach>
		order by t.category_id asc
	</select>
</mapper>