<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cul.culsite.dao.MemberPointsManageMapper">
 <resultMap id="PointsRecordBean" type="com.cul.culsite.model.memberpoint.PointsRecordBean"  >
    <result column="mprd_id" property="pointTxnId" jdbcType="VARCHAR" />
    <result column="mprd_txn_id" property="orginTxnId" jdbcType="VARCHAR" />
    <result column="mprd_used_points" property="payPoints" jdbcType="DECIMAL" />
    <result column="mprd_expiry_start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="mprd_expiry_end_date"   property="endDate" jdbcType="TIMESTAMP" />
  </resultMap> 
  <select id="selectValidPointsRecordInfo" resultMap="PointsRecordBean" parameterType="java.util.Map" >
	 select t.mprd_id,
	        t.mprd_txn_id,
	        t.mprd_used_points,
	        t.mprd_expiry_start_date,
	        t.mprd_expiry_end_date
	  from m_points_record_detail t
	  left join m_points_record t1 on t1.txn_id = t.mprd_id
	 where t1.purse_id = #{purse_id,jdbcType=VARCHAR}
	   and t1.mpr_adjust_direction = 'UP'
	   and (T1.MPR_TOTAL_POINTS - t1.mpr_used_points - t1.mpr_invalid_points - t1.mpr_expired_points) > 0
	   and t1.mpr_status = 'Y'
	   and t.mprd_expiry_start_date &lt;= to_date(#{dateFrom,jdbcType=VARCHAR}, 'yyyyMMdd')
	   and t.mprd_expiry_end_date &gt;= to_date(#{dateTo,jdbcType=VARCHAR}, 'yyyyMMdd')
	  order by t.mprd_expiry_end_date asc, t.mprd_used_points asc
  </select>
</mapper>