<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cul.culsite.dao.expand.MCategoryGoodsRuleDTOExpandMapper" >

	<select id="selectAllCategoryRuleByConponNo" resultMap="com.cul.culsite.dao.MCategoryGoodsRuleDTOMapper.BaseResultMap"
		parameterType="com.cul.culsite.model.singlecoupon.CategoryGoodsRuleRequest">
		select t1.*
		from M_CATEGORY_GOODS_RULE t1
		where ((t1.type = 'CAT' and
		t1.type_id = '*')
		or (t1.type = 'PROD' and t1.goods_id = '*'))
		and
		t1.category_no in
		<foreach collection="categoryNos" index="index" item="categoryNo"
			open="(" separator="," close=")">
			#{categoryNo}
		</foreach>
		and t1.status = 'Y'
		and t1.issuer_id = #{issuerId,jdbcType=VARCHAR}
		<if test="today != null">
			and t1.effect_begin_time &lt;= #{today,jdbcType=VARCHAR}
			and t1.effect_end_time &gt;= #{today,jdbcType=VARCHAR}
		</if>
	</select>
	<select id="selectCategoryRuleByConponNoAndCategory" resultMap="com.cul.culsite.dao.MCategoryGoodsRuleDTOMapper.BaseResultMap"
		parameterType="com.cul.culsite.model.singlecoupon.CategoryGoodsRuleRequest">
		select t1.*
		from M_CATEGORY_GOODS_RULE t1
		where t1.type = 'CAT'
		<if test="cateTypeIds != null">
			and (t1.type_id = '*' or t1.type_id in
			<foreach collection="cateTypeIds" item="cateTypeId" open="("
				separator="," close=")">
				#{cateTypeId}
			</foreach>
			)
		</if>
		<if test="cateTypeIds == null">
			and (t1.type_id = '*')
		</if>
		and t1.category_no in
		<foreach collection="categoryNos" item="categoryNo" open="("
			separator="," close=")">
			#{categoryNo}
		</foreach>
		and t1.status = 'Y'
		and t1.issuer_id = #{issuerId,jdbcType=VARCHAR}
		<if test="today != null">
			and t1.effect_begin_time &lt;= #{today,jdbcType=VARCHAR}
			and t1.effect_end_time &gt;= #{today,jdbcType=VARCHAR}
		</if>
	</select>

	<select id="selectCategoryRuleByConponNoAndProId" resultMap="com.cul.culsite.dao.MCategoryGoodsRuleDTOMapper.BaseResultMap"
		parameterType="com.cul.culsite.model.singlecoupon.CategoryGoodsRuleRequest">
		select t1.*
		from M_CATEGORY_GOODS_RULE t1
		where t1.type = 'PROD'
		<if test="productIds != null">
			and (t1.goods_id = '*' or t1.goods_id in
			<foreach collection="productIds" index="index" item="productId"
				open="(" separator="," close=")">
				#{productId}
			</foreach>
			)
		</if>
		<if test="productIds == null">
			and (t1.goods_id = '*')
		</if>
		and t1.category_no in
		<foreach collection="categoryNos" index="index" item="categoryNo"
			open="(" separator="," close=")">
			#{categoryNo}
		</foreach>
		and t1.status = 'Y'
		and t1.issuer_id = #{issuerId,jdbcType=VARCHAR}
		<if test="today != null">
			and t1.effect_begin_time &lt;= #{today,jdbcType=VARCHAR}
			and t1.effect_end_time &gt;= #{today,jdbcType=VARCHAR}
		</if>
	</select>
</mapper>