<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cul.culsite.dao.expand.MemberPointsManageMapper">
 <resultMap id="PointsRecordBean" type="com.cul.culsite.model.memberpoint.PointsRecordBean"  >
    <result column="mprd_id" property="pointTxnId" jdbcType="VARCHAR" />
    <result column="mprd_txn_id" property="orginTxnId" jdbcType="VARCHAR" />
    <result column="mprd_used_points" property="payPoints" jdbcType="DECIMAL" />
    <result column="mprd_expiry_start_date" property="startDate" jdbcType="TIMESTAMP" />
    <result column="mprd_expiry_end_date"   property="endDate" jdbcType="TIMESTAMP" />
  </resultMap> 
   <resultMap id="EmemberInfo" type="com.cul.culsite.model.memberpoint.EmemberInfo"  >
    <result column="entity_card_no" property="eMemberEntityCardNo" jdbcType="VARCHAR" />
    <result column="no" property="eMemberCardNo" jdbcType="VARCHAR" />
    <result column="card_lever" property="cardLever" jdbcType="VARCHAR" />
    <result column="midentity" property="midentity" jdbcType="VARCHAR" />
    <result column="mobile"   property="mobliePhone" jdbcType="VARCHAR" />
    <result column="ms_issuer_id"   property="issuerId" jdbcType="VARCHAR" />
    <result column="paypassword"   property="paypassword" jdbcType="VARCHAR" />
    <result column="open_id"   property="openId" jdbcType="VARCHAR" />
    <result column="wc_union_id"   property="unionId" jdbcType="VARCHAR" />
    <result column="cust_seq"   property="uid" jdbcType="VARCHAR" />
    <result column="uname"   property="uName" jdbcType="VARCHAR" />
    <result column="email"   property="email" jdbcType="VARCHAR" />
    <result column="merchant_id"   property="merchantId" jdbcType="VARCHAR" />
    <result column="use_password"   property="usePassword" jdbcType="VARCHAR" />
    <result column="cert_no"   property="certNo" jdbcType="VARCHAR" />
    <result column="cert_type"   property="certType" jdbcType="VARCHAR" />
    <result column="pw_answer"   property="pwAnswer" jdbcType="VARCHAR" />
    <result column="pw_question"   property="pwQuestion" jdbcType="VARCHAR" />
     <result column="mpp_permanent_points"   property="permanentPoints" jdbcType="VARCHAR" />
      <result column="mpp_valid_balance"   property="validPoints" jdbcType="VARCHAR" />
  </resultMap> 
  <resultMap id="BenefitsPkgInfo" type="com.cul.culsite.model.memberpoint.BenefitsPkgInfo"  >
    <result column="ml_issuer_id" property="issuerId" jdbcType="VARCHAR" />
    <result column="ml_level" property="memberLevel" jdbcType="VARCHAR" />
    <result column="ml_level_description" property="memberLevelDes" jdbcType="VARCHAR" />
    <result column="mbpr_mbp_id" property="benefitsPkgId" jdbcType="VARCHAR" />
    <result column="mbp_mbr_id"   property="benefitsRuleId" jdbcType="VARCHAR" />
    <result column="mbp_type"   property="benefitsRuleType" jdbcType="VARCHAR" />
  </resultMap> 
  
    <resultMap id="MerchantBusinessBenefitsInfo" type="com.cul.culsite.model.memberpoint.MerchantBusinessBenefitsInfo"  >
    <result column="odl_id" property="businessId" jdbcType="VARCHAR" />
    <result column="odl_bus_code" property="businessCode" jdbcType="VARCHAR" />
    <result column="odl_bus_name" property="businessName" jdbcType="VARCHAR" />
    <result column="odl_dis_rate" property="busDisRate" jdbcType="VARCHAR" />
    <result column="odl_dis_amount"   property="busDisAmount" jdbcType="VARCHAR" />
    <result column="odld_mer_code"   property="merCode" jdbcType="VARCHAR" />
    <result column="odld_mer_name"   property="merName" jdbcType="VARCHAR" />
    <result column="odld_dis_mer_rate"   property="merDisRate" jdbcType="VARCHAR" />
    <result column="odld_dis_mer_amount"   property="merDisAmount" jdbcType="VARCHAR" />
  </resultMap> 
  
  <select id="selectValidPointsRecordInfo" resultMap="PointsRecordBean" parameterType="java.util.Map" >
	 select t.mprd_id,
	        t.mprd_txn_id,
	        t.mprd_used_points,
	        t.mprd_expiry_start_date,
	        t.mprd_expiry_end_date
	  from M_POINTS_RECORD_DETAIL  t
	  left join M_POINTS_RECORD  t1 on t1.txn_id = t.mprd_id
	 where t1.purse_id = #{purse_id,jdbcType=VARCHAR}
	   and t1.mpr_adjust_direction = 'UP'
	   and (t1.MPR_TOTAL_POINTS - t1.mpr_used_points - t1.mpr_invalid_points - t1.mpr_expired_points) > 0
	   and t1.mpr_status = 'Y'
	   and t.mprd_expiry_start_date &lt;= to_date(#{dateFrom,jdbcType=VARCHAR}, 'yyyyMMdd')
	   and t.mprd_expiry_end_date &gt;= to_date(#{dateTo,jdbcType=VARCHAR}, 'yyyyMMdd')
	  order by t.mprd_expiry_end_date asc, t.mprd_used_points asc
  </select>
  <select id="qryEmemberInfo" resultMap="EmemberInfo" parameterType="java.util.Map">
 select t.entity_card_no,
       t.no,
       t.card_lever,
       t1.midentity,
       t1.mobile,
       t1.ms_issuer_id,
       t1.paypassword,
       t1.open_id,
       t1.wc_union_id,
       t1.cust_seq,
       t1.uname,
       t1.email,
       t1.merchant_id,
       t1.cert_no,
       t1.cert_type,
       t1.use_password,
       t1.pw_answer,
       t1.pw_question,
       t.mpp_permanent_points,
       t.mpp_valid_balance
  from M_POINTS_PURSE t
  left join M_MEMBER t1 on t.cust_seq = t1.cust_seq
 where t.entity_card_no = #{entityCardNo,jdbcType=VARCHAR}
   and t.status = 'Y'
  </select>
  <select id="qryBenefitsPkgInfo"  resultMap="BenefitsPkgInfo" parameterType="java.util.Map">
  select t2.ml_issuer_id,
       t2.ml_level,
       t2.ml_level_description,
       t3.mbpr_mbp_id,
       t4.mbp_mbr_id,
       t4.mbp_type
  FROM M_MEMBER_LEVEL           t2,
       M_MEMBER_BENEFITS_PKG_REL t3,
       M_MEMBER_BENEFITS_PKG     t4
 where t2.ml_id = t3.mbpr_ml_id
   and t3.mbpr_mbp_id = t4.mbp_mbp_id
   and t2.ml_issuer_id = #{issuerId,jdbcType=VARCHAR}
   and t2.ml_level = #{memberLevel,jdbcType=VARCHAR}
   <if test="ruleType != null">
   and t4.mbp_type = #{ruleType,jdbcType=VARCHAR} 
   </if>
   
   </select>
   <select id="qryMerchantBusinessBenefitsInfo"  resultMap="MerchantBusinessBenefitsInfo" parameterType="java.util.Map">
   
select t1.odl_id,
       t1.odl_bus_code,
       t1.odl_bus_name,
       t1.odl_dis_rate,
       t1.odl_dis_amount,
       t3.odld_mer_code,
       t3.odld_mer_name,
       t3.odld_dis_mer_rate,
       t3.odld_dis_mer_amount
  from OPERATION_DIS_LIST t1
  left join OPERATION_DIS_LIST_DETAIL t3 on t3.odld_source_id = t1.odl_id
 where t1.odl_mbr_id =  #{ruleId,jdbcType=VARCHAR} 
   </select>
    <select id="qryEmemberInfoByUid" resultMap="EmemberInfo" parameterType="java.util.Map">
 select t.entity_card_no,
       t.no,
       t.card_lever,
       t1.midentity,
       t1.mobile,
       t1.ms_issuer_id,
       t1.paypassword,
       t1.open_id,
       t1.wc_union_id,
       t1.cust_seq,
       t1.uname,
       t1.email,
       t1.merchant_id,
       t1.cert_no,
       t1.cert_type,
       t1.use_password,
       t1.pw_answer,
       t1.pw_question,
       t.mpp_permanent_points,
       t.mpp_valid_balance
  from M_POINTS_PURSE t
  left join M_MEMBER t1 on t.cust_seq = t1.cust_seq
 where t.cust_seq = #{cust_seq,jdbcType=VARCHAR}
   and t.status = 'Y'
  </select>
</mapper>