<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="url" value="jdbc:mysql://192.168.2.204:3306/CULSITE"/>
                <property name="username" value="root"/>
                <property name="password" value="Root_123"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--常规做法-->
        <!--<mapper resource="tk/mybatis/simple/mapper/CountryMapper.xml" />-->
        <!--<mapper resource="tk/mybatis/simple/mapper/PrivilegeMapper.xml" />-->
        <!--<mapper resource="tk/mybatis/simple/mapper/RoleMapper.xml" />-->
        <!--<mapper resource="tk/mybatis/simple/mapper/RolePrivilegeMapper.xml" />-->
        <!--<mapper resource="tk/mybatis/simple/mapper/UserMapper.xml" />-->
        <!--<mapper resource="tk/mybatis/simple/mapper/UserRoleMapper.xml" />-->
        <!--第二种做法-->
		<mapper resource="com/cul/culsite/dao/mysqlMapping/EsOrderDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/EsOrderItemsDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MActualProductDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MAlipayAuthDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MAlipayShopDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MBankCardDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MBankParaDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MBarCodeDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MBenefitsDiscountRuleDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MBenefitsPointsRuleDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MC000SmsSendDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MCardAppInfoDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MCardbinParaDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MCardBinParaExpandDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MCardCategoryDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MCardCategoryExtDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MCardInfoExtDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MCardInfomationDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MCardMasterExtensionDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MCategoryGoodsRuleDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MCategoryMerRightDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MCategoryVoucherDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MChannelNotifyInfoDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MCloudIssuerSubjectInfoDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MCorpKeyFileDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MCouponLogsDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MCustPurseDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MCustPurseExtDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MCustPurseThirdDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MCustPurseTxnDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MCustVoucherPurseDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MDataBaseParaDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MDefaultCardInfomationDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MEGiftCodeDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MEsShoppingCartDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MEsShoppingCartItemDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MGoodsCatDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MGoodsDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MIssuerConsumeConfigureDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MIssuerLimitMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MIssuerParaDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MIssuerParaExpandDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MIssuerShelfMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MIssuerShopMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MIssuerSysCfgDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MIssuerTradeParaDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MMasterAttachCardDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MMemberDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MMemberLevelDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MMemberParaDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MMerGroupRelDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MOrderTxnDetailDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MOrderTxnDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MParaTemplateDetailDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MParaTemplateHeaderDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MPaymentRuleDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MPlaceCardAccountingInfoDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MPlaceCardOrderDetailDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MPointConsumRuleDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MPointsOperationTxnDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MPointsPurseDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MPointsRecordDetailDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MPointsRecordDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MProductAppInfoMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MProductCardRealMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MProductSeqMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MqServerParamDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MReduceActivityDetailDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MReduceActivityDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MRefundTxnDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MRegisterCardInfoDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MSettleDateDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MShelfProductMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MSystemParamDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MThirdAuthInfoDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MThirdPartyUserDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MThirdPayInfoDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MTransHeaderDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MTxnHeaderDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MTxnHeaderZsExDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MUserDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MVoucherDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MVoucherNoDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MVoucherRecordDetailDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MVoucherRecordDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MWebServiceRequestContentDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MWebserviceRequestLogDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MWechatProductRealDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/MWeixinCodeDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/OperationDisListDetailDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/OperationDisListDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/SeqCfgDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/VmPrepayIssuerRelDTOMapper.xml" />
		<mapper resource="com/cul/culsite/dao/mysqlMapping/VMSystemParaDTOMapper.xml" />
		
    </mappers>
</configuration>
